body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 150vh;
    margin: 80;
}

.form-container {
    background-color: #b3d892;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
}

.form-container h2,
.form-container h3,
.form-container h4 {
    text-align: left;
    margin-bottom: 20px;
}

.form-container p {
    text-align: left;
    font-style: italic;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container textarea,
.form-container select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input[type="radio"] {
    margin-right: 10px;
}

.form-container .card-type label {
    display: inline-block;
    margin-right: 10px;
